# Environment
.env
.env.local
.env.*.local

# Go
*.o
*.a
*.so
.DS_Store
dist/
/bin/
/tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# SQLite
data/
